.flex-square {
    background-color: #370617;
    display: flex;
    position: relative;
    width: 1152px;
    height: 700px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.flex-square1 {
    background: #F48C06;
    width: 468px;
    height: 160px;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: left;
}

.flex-square-child {
    position: relative;
    width: 78px;
    height: 78px;
    background: #9D0208;
    border-radius: 4px;
    margin-right: 20px;

}

.flex-square2 {
    background: #F48C06;
    width: 468px;
    height: 160px;
    margin: 10px;
    padding: 20px;

    display: flex;
    justify-content: center;
}

.flex-square2-child {
    position: relative;
    width: 78px;
    height: 120px;
    background: #9D0208;
    border-radius: 4px;
    margin-right: 20px;

}

.flex-square3 {
    background: #F48C06;
    width: 468px;
    height: 160px;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.flex-square4 {
    background: #F48C06;
    width: 468px;
    height: 160px;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.flex-square5 {
    background: #F48C06;
    width: 468px;
    height: 160px;
    margin: 10px;
    padding: 20px;
    justify-content: center;
    display: flex;
}

.div-text-align {
    text-align: center;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.flex-square6 {
    background: #F48C06;
    width: 468px;
    height: 160px;
    margin: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.flex-circle {
    background-color: #FAA307;
    width: 1152px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
}

.flex-circle1 {
    background-color: black;
    position: relative;
    width: 273px;
    height: 220px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
}

.flex-circle2 {
    background-color: #9D0208;
    position: relative;
    width: 273px;
    height: 220px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
}

.flex-circle3 {
    background-color: black;
    position: relative;
    width: 273px;
    height: 220px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.flex-circle4 {
    background-color: #9D0208;
    position: relative;
    width: 273px;
    height: 220px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.flex-circle5 {
    background-color: black;
    width: 273px;
    height: 220px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-circle-child {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #748CAB;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
    padding: 10px;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}